/* #region Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



section {
  padding: 2rem 0;
}

body{
    font-family: gg sans, sans-serif;
    color: #23272a;
    font-size: 20px;
}

h1, h2{
    font-size: 48px;
}

h3{
    font-size: 32px;
}

p{
    font-family: gg sans normal;
    font-size: 20px;
}

li{
    font-family: gg sans normal;
    font-size: 18px;
}

button{
    border-radius: 28px;
    padding: 0 1rem 0;
    height: 38px;
    border: none;
    font-family: gg sans, sans-serif;
    font-size: 18px;
}

button i{
    margin-right:5px
}

/* #endregion Common */



.h-50{
    text-align: center;
    padding-bottom: 4rem;
}

.h-50 h2{
    margin-bottom: 1rem;
}
.h-50 h3{
    margin-bottom: 2rem;
}




/* #region Utilities */

.d-flex {
  display: flex;
}

.container-sm
{
  max-width: 800px;
  width: 60%;
  margin: auto;
}
.justify-content-between {
  justify-content: space-between;
}

.align-center{
    align-items: center;
}

/* Flex Grid */
.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
}
.row {
  display: flex;
  /* negative margin */
}

[class^='col-']
{
  padding: 0 1rem;
}

.col-3{
  width: calc(100% / 12 * 3);
}
.col-4
{
  width: calc(100% / 12 * 4);
}
.col-8 {
  width: calc(100% / 12 * 8);
}

.col-8 img, .col-4 img{
    width: 100%
}



.col-4 .card{
    margin-top: 2rem;
}

.col-4 h2, .col-8 h2{
    margin-bottom: 1rem;
}


/* Spacings */

.py-3 {
  padding: 0.75rem 0;
}

/* Colors */


.bg_section{
    background-color: #ededed;
}

/* #endregion Utility */

/* #region Header */

header {
  background-color: #255ee9;
}  

.logo, .login{
  width: 20%;
  height: 61px;
  align-items: center;
}
.logo {
    justify-content: center;
}

.login {
  justify-content: flex-end;
  
}

.logo img{
    margin: 10px;
    padding: 10px;
    height: 48px;
}

.menu {
  width: 60%;
  text-align: center;

}

.menu ul{
    list-style: none;
    justify-content: center;
    color: white;
}

.menu li{
    margin: 10px;
    padding: 10px;
}

.login button{
    background-color: white;
    color: #23272a;
}
/* #endregion Header */

/* #region Main */

.jumbotron {
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px; /* we might need to keep this */
  padding: 2rem 0;
}

.container-sm{
    text-align: center;
    color: white;
}

.container-sm h1{
    margin-bottom: 2rem;
}

.container-sm p{
    margin-bottom: 1rem;
}

.container-sm button{
  margin: 10px;
}

.black_button{
    background-color: #23272a;
    color: white;
}

.blue_button{
    background-color: #8ea1e1;
    color: white;
 
}


/* #endregion Main */


/* #region Footer */
footer {
  background-color: #23272a;
  color: white;
}
.top{
    padding-top: 3rem;
    padding-bottom: 1rem;
}
footer >footer> .bottom {
  padding: 1rem 0;
}

footer li{
    list-style: none;
    justify-content: center;
    color: white;
}

footer h3{
    margin-bottom: 1rem;
}

footer i{
    margin-right: 1rem;
}

footer li, h5{
    margin-bottom: .5rem;
}

.col-3{
    margin-top: .9rem;
}

.purple{
    color: #7289da;
}

footer button{
    align-items: center;
}

hr{
  height: 1px;
  border: 0;
  border-top: 1px solid #7289da;
  width: 80%;
  margin: auto;
  
}

/* #endregion Footer */

.wave{
   background-image: url('../img/wave.svg');
   height: 100px;
   opacity: 0.07;
}

.rotate{
    rotate: 180deg;
}


